In [65]:
! pip install boto3 python-dotenv

Requirement already satisfied: boto3 in /home/codespace/.python/current/lib/python3.12/site-packages (1.40.1)
Requirement already satisfied: python-dotenv in /home/codespace/.python/current/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: botocore<1.41.0,>=1.40.1 in /home/codespace/.python/current/lib/python3.12/site-packages (from boto3) (1.40.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/codespace/.python/current/lib/python3.12/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.14.0,>=0.13.0 in /home/codespace/.python/current/lib/python3.12/site-packages (from boto3) (0.13.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/codespace/.local/lib/python3.12/site-packages (from botocore<1.41.0,>=1.40.1->boto3) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/codespace/.local/lib/python3.12/site-packages (from botocore<1.41.0,>=1.40.1->boto3) (2.5.0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.41.0,>=1.40.1->boto3) (1.17.0)

# Load Env

In [91]:
from dotenv import load_dotenv
import os
# Load environment variables from .env file
load_dotenv(override=True)


# Get credentials from environment
aws_access_key_id = os.getenv('AWS_ACCESS_KEY_ID')
aws_secret_access_key = os.getenv('AWS_SECRET_ACCESS_KEY')
aws_region = os.getenv('AWS_DEFAULT_REGION')
print(aws_region)

us-east-2

In [90]:
import os
print("System environment:", os.environ.get('AWS_DEFAULT_REGION'))

System environment: us-east-1

# Boto3

In [67]:
import boto3

# Create S3 client
s3 = boto3.client(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
    region_name=aws_region
)

# List all buckets
response = s3.list_buckets()

print("Buckets in your AWS account:")
for bucket in response['Buckets']:
    print(f"- {bucket['Name']}")

Buckets in your AWS account:
- amsu-aws-s3-assessment
- amsu-s3-cf-website
- andrea-lm-code-bucket
- apiproject-build-bucket-su05297
- austin-lambda-s3
- aws-athena-query-results-535146832369-us-east-2
- aws-athena-query-results-us-east-1-535146832369
- aws-athena-query-results-us-east-1-535146832369nh
- aws-athena-query-results-us-east-1-blakeliu
- aws-athena-query-results-us-east-1-etl-aa
- aws-athena-query-results-us-east-2-535146832369
- aws-athena-query-results-us-east-2-535146832369-kb
- aws-cloudtrail-logs-535146832369-01f575cd
- aws-cloudtrail-logs-535146832369-9d19bcae
- aws-emr-studio-535146832369-us-east-2
- aws-glue-assets-535146832369-us-east-1
- aws-glue-assets-535146832369-us-east-2
- aws-logs-535146832369-us-east-1
- aws-logs-535146832369-us-east-2
- aws-sam-cli-managed-default-samclisourcebucket-1oz2tqbsdli3
- aws-sam-cli-managed-default-samclisourcebucket-mgdplk7mifi7
- aws-sam-cli-managed-default-samclisourcebucket-t2x2wb9il3p1
- aws-sam-cli-managed-default-samclisourcebucket-yh6y67cvomwp
- axel-di-student14
- axel-di-student2
- axel-di-student25
- axel-di-student8
- axel-di-team2
- backend-lambda-java-test
- barb-lm-code-bucket
- bored-api-reactjs-build-bucket-rx08052
- bored-api-rx08052
- brian-s3-demo
- bryantbeach-original-images
- bryantbeach-thumbnail-images
- bucket-cl05355
- bucket-terraform-lab4-41091
- bucket-terraform-lab4-67147
- bucket-terraform-lab4-82140
- bucket-terraform-lab4-95407
- bucket-terraform-lab4-98294
- buggy-535146832369-us-east-1
- bugs-app-stack-535146832369-us-east-2
- calvin-lm-code-bucket
- capstone-cloud-template-bucket
- capstone-service-image
- capstone-techcatalyst-conformed
- capstone-techcatalyst-raw
- capstone-techcatalyst-transformed
- catapiplzwork-cl05355
- cf-templates-6dazn7owsddb-ap-south-1
- cf-templates-6dazn7owsddb-us-east-1
- cf-templates-6dazn7owsddb-us-east-2
- cf-templates-6dazn7owsddb-us-west-2
- codepipeline-us-east-2-68716816310
- connor-awsassignment
- connor-lambda-s3
- connor-s3-cf-final-website
- connor-s3-sqs
- connorsbucketdemo
- countingbucket-0
- countingbucket-1
- countingbucket-2
- craig-lm-code-bucket
- cvent-beanstalk-bucket
- cvent-recipe-lambda-bucket
- darrell-assessment-s3
- david-s3-angular-assesment
- davidprivatebucket
- ddd434278923423
- demo-my-build-bucket-maaike
- devint-2373
- devint-4633
- devint-6326
- devint-8987
- devint-auser1
- devint-auser2
- devint-dan2238
- devint-krueger-alt
- devint-std14-20220329062534398200000001
- devint-std14-20220329062534458500000001
- devint-std14-alt
- devint-std17-20220329063555600900000001
- devint-std17-20220329063555696700000001
- devint-std17-alt
- devint-std18-20220329063643571000000001
- devint-std18-20220329063644010600000001
- devint-std30-20220329110905171700000001
- devint-std4-alt
- devint-std7-alt
- devint-std8-20220329064413559800000001
- devint-std8-20220329064414038300000001
- devint-student1-2515
- devint-student1-4241
- devint-student10-2515
- devint-student10-4241
- devint-student11-2515
- devint-student11-4241
- devint-student12-2515
- devint-student12-4241
- devint-student13-2515
- devint-student13-4241
- devint-student14
- devint-student14-2515
- devint-student14-4241
- devint-student15-2515
- devint-student15-4241
- devint-student16-2515
- devint-student16-4241
- devint-student17-2515
- devint-student17-4241
- devint-student18-2515
- devint-student18-4241
- devint-student19-2515
- devint-student19-4241
- devint-student2-2515
- devint-student2-4241
- devint-student20
- devint-student20-2515
- devint-student20-4241
- devint-student21-2515
- devint-student21-4241
- devint-student22
- devint-student22-2515
- devint-student22-4241
- devint-student23-2515
- devint-student23-4241
- devint-student24-2515
- devint-student24-4241
- devint-student25-2515
- devint-student3-2515
- devint-student3-4241
- devint-student4-2515
- devint-student4-4241
- devint-student5-2515
- devint-student5-4241
- devint-student6-2515
- devint-student6-4241
- devint-student7-2515
- devint-student7-4241
- devint-student8-2515
- devint-student8-4241
- devint-student9
- devint-student9-2515
- devint-student9-4241
- devint-tabrej-alam-alt
- digitalnomads
- dooku2
- dspera-lm-code-bucket
- dws-di-corleone
- dws-di-dooku-20220107144313147600000001
- dws-di-jocker
- dws-di-krueger
- dws-di-nosferatu
- dws-di-nosferatu-alt
- dws-di-ramkumar
- dws-di-spike
- dws-di-student10
- dws-di-tabrej-alam
- dws-kattegat-ragnar
- eamonn-test-bucket-865
- eksworkshop-535146832369-codepipeline-artifacts
- elasticbeanstalk-us-east-1-535146832369
- elasticbeanstalk-us-east-2-535146832369
- eoanifoeanfeionfiobvnuem
- ferfybucket-assessment
- first-bucket-es05260
- first-web-app-bucket
- first-web-app-cs08090
- frontend-codebuildtest
- georgethomas-original-images
- georgethomas-thumbnail-images
- hark-assessment-bucket
- hk-lambda-bucket
- jalaunsbucket
- jalaunsbucket-for-codedeploy
- jamesbrett-lm-code-bucket
- joe-lm-code-bucket
- jokes-build-bucket-su05297
- jokesbucket-su05297
- jonathanbardwellsbucket
- jrrickerson-demo-cohort7
- juliev1-bucket
- kanye-build-bucket-mk05255
- kanye-rest-bucket-mk05255
- kerim-test-bucket
- lab-two
- lcates-original-images
- lcates-thumbnail-images
- lincoln-bucket-01
- maaike-web-bucket
- magesh-angular-gitlab-app
- magesh-lambda-s3
- malcolm-assesment-bucket
- malcolm-sam-app-ec2-535146832369-us-east-2
- mchase-s3
- mini-api-project-auto-deploy-je05425
- mini-api-project-je
- mini-project-bucket-es05260
- mini-react-project-cs08090
- movie-watcher
- my-api-build-bucket-et05298
- my-api-project-bucket-kl08053
- my-api-project-bucket-se05269
- my-bucket-ds08057
- my-bucket-kl08053
- my-bucket2-et05298
- my-build-bucket-cl05355
- my-build-bucket-cs08090
- my-build-bucket-ds08057
- my-build-bucket-es05260
- my-build-bucket-et05298
- my-build-bucket-jalaun
- my-build-bucket-je05425
- my-build-bucket-kl08053
- my-build-bucket-maaike
- my-build-bucket-mk05255
- my-build-bucket-ov05296
- my-build-bucket-rx08052
- my-build-bucket-se05269
- my-build-bucket-sh03945
- my-build-bucket-su05297
- my-project-bucket-ov05296
- my-react-build-api-bucket-se05269
- my-riddles-build-bucket-ov05296
- my-s3-bucket-se05269
- my-test-bucket-student20
- my-tf-test-bucket-student17
- my-tf-test-bucket-student20
- my-tf-test-bucket-student23
- my-tf-test-bucket-teacher2
- myawsbucket-ds08057
- myawsbucket-kl08053
- myawsbucket-mini-project-ds08057
- mybucket4efs.com
- mybucket7707
- mys3bucket-mk05255
- natali-assessment-bucket
- nullwpstage
- orion-capstone
- patrickmccardy-lm-code-bucket
- pokebucket-cs08090
- radar-app-dev-build-bucket
- react-jokesapi-ds08057
- reportbucketnff1
- repurposed-jalaunsbucket
- rjp-original-images
- rjp-thumbnail-images
- rx08052-web-bucket
- sagemaker-course-di
- sagemaker-studio-535146832369-db81fj1x82w
- sagemaker-us-east-1-535146832369
- sai-tf-test-bucket-sai
- se-bucket-100
- seatownbucket88
- student-6-alternate
- student-6-main
- student17-terraform-provisioners-example
- student22-ex06
- su05297-web-bucket
- super-unique-terraform-bucket
- teacher2-terraform-provisioners-example
- techcatalyst-public
- techcatalyst-raw
- techcatalyst-transformed
- terraform-di-student17
- terraform-di-student17-alternate
- terraform-lab5--42433
- terraform-lab5--63647
- terraform-lab5--64023
- terraform-lab5--76528
- terraform-lab5--92518
- terraform-lab5--95453
- test-connect-sh03945
- thisisatestbucket123452439
- tlopresti-lm-code-bucket
- troy-aws-assessment-bucket
- unique-bucket-aws
- viteexample2
- vlh-student2
- vlh-student2-us-east-2
- will-assessment-bucket
- will-lambda-s3
- will-lm-code-bucket
- wramey-lm-code-bucket

In [68]:
objects_list = s3.list_objects_v2(Bucket="techcatalyst-raw")

In [69]:
for objects in objects_list["Contents"]:
    if objects.get('Key').endswith('.csv'):
        print(objects.get('Key'))

accidents/accidents_2017_to_2023_english.csv
stage/yellow_tripdata.csv
stocks/GOOG.csv
tatwan/test.csv

In [70]:
for objects in objects_list["Contents"]:
    output =  objects.get('Key').split('.')
    if len(output) > 1:
        if output[1] == "csv":
            print(objects.get('Key'))

accidents/accidents_2017_to_2023_english.csv
stage/yellow_tripdata.csv
stocks/GOOG.csv
tatwan/test.csv

In [71]:
! pip install awswrangler

Requirement already satisfied: awswrangler in /home/codespace/.python/current/lib/python3.12/site-packages (3.12.1)
Requirement already satisfied: boto3<2,>=1.20.32 in /home/codespace/.python/current/lib/python3.12/site-packages (from awswrangler) (1.40.1)
Requirement already satisfied: botocore<2,>=1.23.32 in /home/codespace/.python/current/lib/python3.12/site-packages (from awswrangler) (1.40.1)
Requirement already satisfied: numpy<3.0,>=1.26 in /home/codespace/.local/lib/python3.12/site-packages (from awswrangler) (2.3.1)
Requirement already satisfied: packaging<26.0,>=21.1 in /home/codespace/.local/lib/python3.12/site-packages (from awswrangler) (25.0)
Requirement already satisfied: pandas<3.0.0,>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from awswrangler) (2.3.1)
Requirement already satisfied: pyarrow<21.0.0,>=18.0.0 in /home/codespace/.python/current/lib/python3.12/site-packages (from awswrangler) (20.0.0)
Requirement already satisfied: setuptools in /home/codespace/.local/lib/python3.12/site-packages (from awswrangler) (80.9.0)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /home/codespace/.local/lib/python3.12/site-packages (from awswrangler) (4.14.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/codespace/.python/current/lib/python3.12/site-packages (from boto3<2,>=1.20.32->awswrangler) (1.0.1)
Requirement already satisfied: s3transfer<0.14.0,>=0.13.0 in /home/codespace/.python/current/lib/python3.12/site-packages (from boto3<2,>=1.20.32->awswrangler) (0.13.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/codespace/.local/lib/python3.12/site-packages (from botocore<2,>=1.23.32->awswrangler) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/codespace/.local/lib/python3.12/site-packages (from botocore<2,>=1.23.32->awswrangler) (2.5.0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2,>=1.23.32->awswrangler) (1.17.0)

# AWS Wrangler

In [72]:
import awswrangler as wr

In [73]:
for item in wr.s3.list_buckets():
    if 'techcatalyst' in item:
        print(item)

capstone-techcatalyst-conformed
capstone-techcatalyst-raw
capstone-techcatalyst-transformed
techcatalyst-public
techcatalyst-raw
techcatalyst-transformed

In [74]:
wr.s3.list_objects('s3://techcatalyst-raw/*.csv')

['s3://techcatalyst-raw/accidents/accidents_2017_to_2023_english.csv',
 's3://techcatalyst-raw/stage/yellow_tripdata.csv',
 's3://techcatalyst-raw/stocks/GOOG.csv',
 's3://techcatalyst-raw/tatwan/test.csv']

In [75]:
wr.s3.read_csv('s3://techcatalyst-raw/stocks/GOOG.csv')

                   Date    Open    High     Low   Close    Volume
0     1/2/2025 16:00:00  191.49  193.20  188.71  190.63  17545162
1     1/3/2025 16:00:00  192.73  194.50  191.35  193.13  12874957
2     1/6/2025 16:00:00  195.15  199.56  195.06  197.96  19483323
3     1/7/2025 16:00:00  198.27  202.14  195.94  196.71  16966760
4     1/8/2025 16:00:00  193.95  197.64  193.75  195.39  14335341
..                  ...     ...     ...     ...     ...       ...
135  7/21/2025 16:00:00  187.10  191.26  187.05  191.15  24664994
136  7/22/2025 16:00:00  192.42  193.36  188.50  192.11  26212909
137  7/23/2025 16:00:00  192.36  193.36  190.18  191.51  34068129
138  7/24/2025 16:00:00  198.11  198.97  191.95  193.20  45252060
139  7/25/2025 16:00:00  192.93  195.28  192.13  194.08  31101847

[140 rows x 6 columns]

In [92]:
wr.catalog.tables()

,Database,Table,Description,TableType,Columns,Partitions
0,alexia_logs,log_data,,EXTERNAL_TABLE,"artist, auth, firstname, gender, iteminsession...",
1,alexia_song,song_data,,EXTERNAL_TABLE,"num_songs, artist_id, artist_latitude, artist_...","partition_0, partition_1, partition_2"
2,ben_song,log_data,,EXTERNAL_TABLE,"artist, auth, firstname, gender, iteminsession...",
3,ben_song,song_data,,EXTERNAL_TABLE,"num_songs, artist_id, artist_latitude, artist_...","partition_0, partition_1, partition_2"
4,melissa_logs,log_data,,EXTERNAL_TABLE,"artist, auth, firstname, gender, iteminsession...",
5,melissa_songs,song_data,,EXTERNAL_TABLE,"num_songs, artist_id, artist_latitude, artist_...","partition_0, partition_1, partition_2"
6,my_db,my_table,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
7,my_db,test,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
8,shaswat_logs,log_data,,EXTERNAL_TABLE,"artist, auth, firstname, gender, iteminsession...",
9,shaswat_song,song_data,,EXTERNAL_TABLE,"num_songs, artist_id, artist_latitude, artist_...","partition_0, partition_1, partition_2"
10,tatwan_db,tatwan_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
11,tatwan_inclass_demo,tatwan_goog_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
12,tatwan_taxi,tatwan_tripdata,,EXTERNAL_TABLE,"vendorid, tpep_pickup_datetime, tpep_dropoff_d...",